.footer[data-theme='light'] {
  --bg-color: #b8c0e2;
  --text-color: #a95b0c;
}
.footer[data-theme='dark'] {
  --bg-color: #0E1223;
  --text-color: #ff8000;
}

.footer{
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 40px;
}

.footer p{
    color: var(--text-color);
    font-size: 16px;
    margin: 0 auto;
}