.sidebar {
    position: absolute;
    top: -70px;
    left: 77%;
    width: 17%;
    margin: 0 20px;
}

.sidebar h4{
    margin: 0;
    margin-bottom: 20px;
}

.recPeople,
.recCommunities {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--comp-bg-color);
    border: 2px solid var(--border-color);
    padding: 15px;
    margin-bottom: 10px;
}

.person,
.community {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.personalInfo,
.communityInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    line-height: 1.5;
}

.personalInfo p,
.communityInfo p {
    margin: 0;
    font-size: 15px;
    color: var(--text-color);
    font-weight: 500;
}

.personalInfo small,
.communityInfo small {
    margin-top: 2px;
    font-size: 13px;
    color: var(--small-text-color);
}