.footer{
    background-color: var(--comp-bg-color);
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 40px;
}

.footer p{
    color: var(--footer-text-color);
    font-size: 16px;
    margin: 0 auto;
}