.post[data-theme='light'] {
  --bg-color: #b8c0e2;
  --text-color: #000;
  --border-color: #a2a7c1;
  --small-text-color: #666e89;
}
.post[data-theme='dark'] {
  --bg-color: #0E1223;
  --text-color: #fff;
  --border-color: #384162;
  --small-text-color: #8791B7;
}


.post {
    background-color: var(--bg-color);
    border: 2px solid var(--border-color);
    color: var(--text-color);
    padding: 20px;
    box-sizing: border-box;
}

.author{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.author .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.authorInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    line-height: 1.5;
}

.authorInfo p {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}

.authorInfo small {
    margin-top: 2px;
    font-size: 13px;
    color: var(--small-text-color);
}

.post img{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.post i{
    margin-right: 5px;
}

.post h3{
    font-weight: normal;
    font-size: 18px;
}

.postButtons{
    display: flex;
    font-size: 15px;
    max-width: 70%;
    min-width: 50%;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.postButtons button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    color: var(--text-color);
}
