.post {
    background-color: var(--comp-bg-color);
    border: 2px solid var(--border-color);
    border-bottom: none;
    color: var(--text-color);
    padding: 24px;
    box-sizing: border-box;
}

.author {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.author .avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.authorInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    line-height: 1.5;
    height: 48px;
    font-size: 16px;
}

.authorInfo p {
    font-weight: 500;
    margin: 0;
}

.authorInfo small {
    margin-top: 2px;
    color: var(--small-text-color);
}

.post>img {
    width: 652px;
    max-height: 458px;
    object-fit: cover;
    border-radius: 4px;
}

.post i {
    margin-right: 8px;
}

.post h3 {
    font-weight: normal;
    font-size: 20px;
}

.postButtons {
    display: flex;
    font-size: 16px;
    width: 433px;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.postButtons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    color: var(--text-color);
}

.likes i{
    cursor: pointer;
}


@media(max-width: 768px) {
    .post {
        padding: 12px;
        border-top: 2px solid var(--border-color);
        border-bottom: none;
        border-right: none;
        border-left: none;
        background-color: var(--bg-color);
    }

    .post>img {
        width: 100%;
        min-height: 150px;
        max-height: 300px;
    }

    .post h3 {
        font-size: 14px;
    }

    .postButtons{
        width: 100%;
        font-size: 12px;
    }
}