*,
*::before,
*::after {
  box-sizing: border-box;
}

[data-theme='dark'] *{
  --bg-color: #1B2037;
  --comp-bg-color: #0E1223;
  --drawer-bg-color: #1B2037;
  --text-color: #fff;
  --border-color: #384162;
  --small-text-color: #8791B7;
  --footer-text-color: #ff8000;

}
[data-theme='light'] *{
  --bg-color: #d4d9f0;
  --comp-bg-color: #b8c0e2;
  --drawer-bg-color: #d4d9f0;
  --text-color: #000;
  --border-color: #a2a7c1;
  --small-text-color: #666e89;
  --footer-text-color: #a95b0c;
  
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}
.app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
}

.main-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position:relative;
}

.posts {
  margin-top: 30px;
    width: 40%;
}

.app {
  background-color: var(--bg-color);
  color: var(--text-color);
}


@media(max-width: 960px){
  .header{
    padding: 5px 10px;
    margin-bottom: 20px;
  }
  .header .logo{
    width: 10%;
  }

  .sidebar{
    display: none;
  }
  .posts, #addPost{
    width: 100%;
    margin: 0;
  }
  .post{
    background-color: transparent;
    font-size: smaller;
    width: 100%;
  }
  .post .postButtons{
    width: 100%;
  }
}

@media(max-width: 600px){
  .header{
    padding: 2px 5px;
    margin-bottom: 10px;
  }
  .header .logo{
    width: 12%;
  }
}